<div class="flex w-full gap-6 min-h-100">
  <div class="flex items-center gap-4 w-2/3">
    <label
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDrop($event)"
      [class.border-purple-500]="isDragging"
      [class.border-dashed]="isDragging"
      [class.bg-purple-100]="isDragging"
      for="dropzone-file"
      class="flex flex-col items-center justify-center w-full border-2 border-gray-300 h-full rounded-lg cursor-pointer"
    >
      <p class="mb-2 text-lg">Click to upload or drop your photos here</p>
      <input id="dropzone-file" type="file" class="hidden" accept="image/*" (change)="onChange($event)" />
    </label>
  </div>

  @if (imageSrc()) {
    <div class="flex flex-col w-1/3 gap-3">
      <h3 class="text-xl mb-3">Photo Preview</h3>
      <div class="flex justify-center border-2 border-gray-300 rounded-lg px-2">
        <!-- Example preview images -->
        <img [src]="imageSrc()" alt="Preview 1" class="aspect-square object-cover rounded-lg" />
      </div>
      <div class="flex w-full gap-2">
        <button
          (click)="onCancel()"
          class="w-full bg-gray-500 text-white py-2 rounded-lg hover:bg-gray-600 transition-colors cursor-pointer"
        >
          Cancel
        </button>
        <button
          [disabled]="loading()"
          (click)="onUpload()"
          class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition-colors cursor-pointer"
        >
          @if (loading()) {
            <span class="loading loading-spinner"></span>
          } @else {
            Upload
          }
        </button>
      </div>
    </div>
  }
</div>
